.css_edit_symbol_page .css_edit_symbol_body .css_edit_symbol_property[property="name"] .css_edit_symbol_property_content input[type="text"] {
  /* type="text" will be omitted in html during minifying if removeRedundantAttributes is set to true*/
  width: 100%;
  height: 45px;
  background-color: var(--v-cssvar-ffffff);
  font-size: 20px;
  color: var(--v-cssvar-333333);
  border-style: solid;
  border-color: var(--v-cssvar-ededf2);
  border-width: 1px;
  border-radius: var(--v-cssvar-border-radius);
}