:root {
  --v-cssvar-ffffff: #ffffff;
  --v-cssvar-f9f9fb: #f9f9fb;
  --v-cssvar-ededf2: #ededf2;
  --v-cssvar-333333: #333333;
  --v-cssvar-border-radius: 10px;
}

@media(prefers-color-scheme:dark) {
  :root {
    --v-cssvar-ffffff: #040406;
    --v-cssvar-f9f9fb: #202026;
    --v-cssvar-ededf2: #0d0d10;
    --v-cssvar-333333: #ffffff;
  }
}