.css_search_page {
 position: fixed;
  top: 35px;
  left: 0px;
  width: 100%;
  height: calc(100% - 35px);
  background-color: var(--v-cssvar-ffffff);
  overflow: hidden;
  visibility: hidden;
}

.css_search_page[displayed="true"] {
  visibility: visible;
}